.btn {
  min-height: 54px;
  border: 1px solid #316dc2;
  border-radius: 30px;
  padding: 0 75px 0 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #316dc2;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.28px;
  background-color: transparent;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: #316dc2;
    border-radius: 50%;
    right: 4px;
  }

  & svg {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    right: 21px;
    color: $color-default-white;
    z-index: 1;
  }

  &:not(:disabled):hover {
    @include hover;
    background-color: #316dc2;
    color: $color-default-white;
  }

  &:not(:disabled):hover::after {
    background-color: $color-default-white;
  }

  &:not(:disabled):hover svg {
    color: #316dc2;
    transform: rotate(45deg);
  }

  &:not(:disabled):focus {
    @include focus;
    background-color: #316dc2;
    color: $color-default-white;
  }

  &:not(:disabled):focus::after {
    background-color: $color-default-white;
  }

  &:not(:disabled):focus svg {
    color: #316dc2;
    transform: rotate(45deg);
  }

  &:not(:disabled):active {
    @include active;
    background-color: #316dc2;
    color: rgba(255, 255, 255, 0.7);
  }

  &:not(:disabled):active::after {
    background-color: $color-default-white;
  }

  &:not(:disabled):active svg {
    color: rgba(49, 109, 194, 0.7);
    transform: rotate(45deg);
  }

  &:disabled {
    border-color: #a9afb7;
    color: #a9afb7;
    cursor: default;
  }

  &:disabled::after {
    background-color: #a9afb7;
  }
}

@media (max-width: $mobile-width) {
  .btn {
    min-height: 42px;
    padding: 5px 38px 5px 20px;
    font-size: 12px;
    line-height: 12px;

    &::after {
      position: absolute;
      content: "";
      width: 34px;
      height: 34px;
    }

    & svg {
      width: 8px;
      height: 8px;
      right: 16px;
    }
  }
}
