.conditions {
  background-color: #316dc2;
}

.conditions__container {
  padding: 126px 0 107px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  gap: 138px;
}

.conditions__travel {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 498px;

  & h2 {
    margin: 0;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    color: $color-default-white;
    width: 100%;
    letter-spacing: -2px;
  }

  & p {
    margin: 0;
    color: $color-default-white;
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 4px;
  }

  & div {
    background-color: #6dd4e7;
    width: 100%;
    min-height: 363px;
    border-radius: 16px;
  }

  & img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.conditions__grant {
  display: flex;
  flex-direction: column;
  gap: 55px;
  max-width: 498px;
  margin-right: auto;

  & h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: $color-default-white;
    margin: 0;
    letter-spacing: -1px;
    padding-top: 2px;
  }

  & ol {
    counter-reset: li;
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 20px;
  }
}

.conditions__rule {
  position: relative;
  max-width: 478px;
  display: flex;
  align-items: center;
  padding: 22px 25px;
  border: 1px solid $color-default-white;
  border-radius: 16px;

  &::before {
    position: absolute;
    content: counter(li);
    counter-increment: li;
    width: 42px;
    height: 42px;
    background-color: #316dc2;
    top: -15px;
    left: -21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    color: $color-default-white;
  }

  & span {
    font-weight: 400;
    color: $color-default-white;
    letter-spacing: -0.5px;
  }
}

@media (max-width: $tablet-width) {
  .conditions__container {
    padding: 100px 30px 100px;
    max-width: 100%;
    flex-direction: column;
    gap: 45px;
  }

  .conditions__travel {
    gap: 25px;
    max-width: 100%;

    & h2 {
      font-size: 34px;
      letter-spacing: -1.3px;
    }

    & p {
      line-height: 20px;
      max-width: 498px;
      margin-bottom: 11px;
    }

    & div {
      min-height: 375px;
    }
  }

  .conditions__grant {
    gap: 42px;
    max-width: 100%;
    margin-right: 0;

    & h3 {
      font-size: 28px;
      line-height: 28px;
      letter-spacing: -0.8px;
    }

    & ol {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 48px;
    }
  }

  .conditions__rule {
    max-width: 100%;
    min-width: 305px;
    align-items: flex-start;
    padding: 25px;

    & span {
      line-height: 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .conditions__container {
    padding: 67px 0 67px;
    gap: 32px;
  }

  .conditions__travel {
    gap: 15px;

    & h2 {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: -0.8px;
    }

    & p {
      font-size: 14px;
      max-width: 100%;
    }

    & div {
      min-height: 200px;
    }

    & img {
      min-height: 200px;
    }
  }

  .conditions__grant {
    gap: 25px;

    & h3 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.5px;
    }

    & ol {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-left: 15px;
    }
  }

  .conditions__rule {
    max-width: 100%;
    min-width: 100%;
    align-items: flex-start;
    padding: 18px 25px;

    &::before {
      width: 32px;
      height: 32px;
      top: -5px;
      left: -16px;
      font-size: 18px;
      line-height: 18px;
    }

    & span {
      font-size: 14px;
    }
  }
}
