.faq__container {
  max-width: 1240px;
  padding: 65px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;

  & h2 {
    margin: 0;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    color: #316dc2;
    letter-spacing: -1.5px;
  }
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 1028px;
}

.faq__item {
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 33px 40px 30px;
  outline: 1px solid #316dc2;
  min-height: 120px;
  justify-content: center;
  max-height: 100%;

  &:hover {
    background-color: $color-default-white;
  }

  &:hover > button {
    background-color: $color-default-white;
    border: 1px solid #316dc2;
  }

  &:hover > button::before {
    border: 1px solid #316dc2;
  }

  &:hover > button::after {
    border: 1px solid #316dc2;
  }

  &:focus {
    background-color: $color-default-white;
  }

  &:focus > button {
    background-color: $color-default-white;
    border: 1px solid #316dc2;
  }

  &:focus > button::before {
    border: 1px solid #316dc2;
  }

  &:focus > button::after {
    border: 1px solid #316dc2;
  }

  &:hover > button:active {
    background-color: #275699;
  }

  &:hover > button:active::before {
    border: 1px solid $color-default-white;
  }

  &:hover > button:active::after {
    border: 1px solid $color-default-white;
  }

  &:disabled {
    opacity: 30%;
  }
}

.faq__item.is-active {
  background-color: #316dc2;
  padding-bottom: 32px;
  padding-top: 42px;
  min-height: 204px;
  max-height: 100%;
  height: 100%;

  & h3 {
    color: $color-default-white;
    margin-bottom: 15px;
  }

  & p {
    color: $color-default-white;
    margin: 0;
    letter-spacing: -0.5px;
    max-height: 100%;
    height: 100%;
  }

  & button {
    top: 40px;
  }

  &:hover button {
    @include hover;
    background-color: transparent;
    border: 1px solid $color-default-white;
  }

  &:hover button::before {
    @include hover;
    border-color: $color-default-white;
  }

  &:focus button {
    @include focus;
    background-color: $color-default-white;
    border: 1px solid $color-default-white;
  }

  &:focus button::before {
    @include hover;
    border-color: $color-default-white;
  }

  &:active {
    @include focus;
    background-color: #275699;
  }

  &:active button {
    @include focus;
    background-color: $color-default-white;
  }

  &:active button::before {
    @include hover;
    border-color: #275699;
  }
}

.faq__title {
  margin: 0;
  font-size: 28px;
  line-height: 35px;
  color: #316dc2;
  font-weight: 400;
  max-width: 70%;
  letter-spacing: -0.9px;
}

.faq__button {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #316dc2;
  border: none;
  user-select: none;

  &.is-closed {
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 1px;
      border: 1px solid $color-default-white;
      left: 11px;
      top: 19px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 18px;
      border: 1px solid $color-default-white;
      top: 11px;
      left: 19px;
    }

    &:focus-visible {
      outline: none;
    }

    &:active {
      background-color: #275699;
    }
  }

  &:hover {
    @include hover;
    background-color: transparent;
    border: 1px solid $color-default-white;
  }

  &:hover::before {
    @include hover;
    border-color: $color-default-white;
  }

  &:not(:disabled):focus {
    @include focus;
    background-color: $color-default-white;
    outline: 1px solid #316dc2;
  }

  &:focus::before {
    @include focus;
    border-color: #316dc2;
  }

  &:focus::after {
    @include focus;
    border-color: #316dc2;
  }

  &:active {
    @include focus;
    background-color: $color-default-white;
  }

  &:active::before {
    @include hover;
    border-color: #275699;
  }

  &.is-opened {
    background-color: $color-default-white;

    &::before {
      position: absolute;
      content: "";
      width: 18px;
      height: 1px;
      border: 1px solid #316dc2;
      left: 11px;
    }
  }

  &:disabled {
    opacity: 30%;
  }
}

@media (max-width: $tablet-width) {
  .faq__container {
    max-width: 100%;
    padding: 50px 30px;
    gap: 40px;

    & h2 {
      font-size: 34px;
      letter-spacing: -1px;
    }
  }

  .faq__item {
    width: 100%;
    padding: 12px 30px 10px;
    min-height: 100px;
    justify-content: center;
  }

  .faq__item.is-active {
    padding: 37px 30px 25px;
    min-height: 192px;
    justify-content: flex-start;

    & button {
      right: 30px;
      top: 30px;
    }

    & p {
      line-height: 20px;
      letter-spacing: -0.5px;
    }

    & h3 {
      margin-bottom: 23px;
    }
  }

  .faq__title {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    max-width: 80%;
    letter-spacing: -0.7px;
  }

  .faq__button {
    right: 30px;
    top: 30px;
  }
}

@media (max-width: $mobile-width) {
  .faq__container {
    max-width: 100%;
    padding: 35px 0;
    gap: 32px;

    & h2 {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: -0.5px;
    }
  }

  .faq__list {
    gap: 11px;
  }

  .faq__item {
    padding: 21px 15px 20px;
    min-height: 80px;
    justify-content: center;
  }

  .faq__item.is-active {
    padding: 20px 15px 15px;

    & h3 {
      margin-bottom: 17px;
    }

    & button {
      right: 15px;
      top: 40px;
    }

    & p {
      max-width: 100%;
      font-size: 14px;
      line-height: 20px;

      & br {
        display: none;
      }
    }
  }

  .faq__title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.5px;
  }

  .faq__button {
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
