.feedback__container {
  max-width: 1240px;
  padding: 120px 0 0;
  margin: 0 auto;
  min-height: 803px;
}

.feedback__wrapper {
  border-radius: 16px;
  position: relative;
  min-height: 100%;
}

.feedback__form-container {
  display: flex;
  flex-direction: column;
  max-width: 498px;
  border-radius: 16px;
  background-color: #316dc2;
  padding: 84px 74px 51px;
  min-height: 803px;

  & label {
    color: rgba(240, 239, 233, 0.8);
    gap: 6px;
    letter-spacing: -0.5px;
  }

  & textarea {
    min-height: 120px;
    padding: 10px;
  }

  & input,
  textarea,
  .form__select-button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: $color-default-white;

    &:not(:disabled):hover,
    &:not(:disabled):focus,
    &:not(:disabled):active {
      border-color: $color-default-white;
    }

    &:not(:disabled):focus-visible {
      outline: none;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.4);
    }
  }

  & h2 {
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    color: $color-default-white;
    font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 24px;
  }

  & p {
    color: rgba(240, 239, 233, 0.9);
    margin: 0;
    letter-spacing: -0.5px;
    margin-bottom: 19px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .custom-select {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
  }

  & .custom-select__error {
    display: none;
  }

  & .form__select-label {
    color: rgba(240, 239, 233, 0.8);
    margin-bottom: 0;
  }

  & .form__select-icon {
    background-color: $color-default-white;
  }

  & textarea {
    min-height: 98px;
  }
}

.feedback__select-list {
  border: none;
}

.feedback__check {
  & label {
    display: flex;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    min-height: 20px;
    margin-bottom: 5px;

    & input[type="checkbox"]:checked + .feedback__sort::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-repeat: no-repeat;
      top: 5px;
      left: 5px;
    }
  }

  & label:hover > .feedback__sort,
  & label:focus > .feedback__sort {
    background-color: transparent;
    outline: 1px solid $color-default-white;
  }

  & input {
    display: none;
  }
}

.feedback__check input[type="checkbox"]:disabled + .feedback__sort {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 1);
}

.feedback__check input[type="checkbox"]:disabled + .feedback__check-error {
  display: none;
}

.feedback__check input[type="checkbox"]:checked:disabled + .feedback__sort {
  background-color: #a9afb7;
  border: 1px solid #a9afb7;
  cursor: default;
}

.feedback__check input[type="checkbox"]:checked:disabled + .feedback__sort::before {
  background-image: url("../img/svg/check.svg");
}

.feedback__check input[type="checkbox"]:checked + .feedback__sort {
  background-color: $color-default-white;
}

.feedback__check:hover input[type="checkbox"]:not(:disabled):checked + .feedback__sort,
.feedback__check:focus input[type="checkbox"]:not(:disabled):checked + .feedback__sort {
  background-color: #316dc2;
  outline: 1px solid $color-default-white;
}

.feedback__check:hover input[type="checkbox"]:not(:disabled):checked + .feedback__sort::before,
.feedback__check:focus input[type="checkbox"]:not(:disabled):checked + .feedback__sort::before {
  background-image: url("../img/svg/check.svg");
}

.feedback__check input[type="checkbox"]:checked + .feedback__sort::before {
  background-image: url("../img/svg/check-blue.svg");
}

.feedback__name {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $color-default-white;
  align-self: center;
  letter-spacing: -0.4px;
}

.form .feedback__input {
  gap: 12px;
  width: 100%;
  margin-bottom: 20px;

  & .form__select-button {
    height: 50px;
    width: 100%;
    max-width: 100%;
    padding-right: 20px;
  }
}

.feedback__sort {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #316dc2;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  top: 1px;
  left: 0;
  border-radius: 2px;
}

.feedback__check-error {
  color: #ff5e66;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}

.feedback__button {
  border-color: $color-default-white;
  justify-content: center;
  color: $color-default-white;
  padding-top: 12px;
  width: 100%;
  margin-top: 40px;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background-color: $color-default-white;
    color: #316dc2;
  }

  &:not(:disabled):hover::after,
  &:not(:disabled):focus::after {
    background-color: #316dc2;
  }

  &:not(:disabled):hover svg,
  &:not(:disabled):focus svg {
    color: $color-default-white;
    top: 40%;
  }

  &:not(:disabled):active {
    background-color: $color-default-white;
    color: rgba(49, 109, 194, 0.7);
  }

  &:not(:disabled):active::after {
    background-color: #316dc2;
  }

  &:not(:disabled):active svg {
    color: rgba(255, 255, 255, 0.7);
    top: 40%;
  }

  &:disabled svg {
    color: rgba(255, 255, 255, 0.6);
  }

  &::after {
    background-color: $color-default-white;
    top: 3px;
  }

  & svg {
    top: 50%;
    transform: translate(0, -50%);
    color: #316dc2;
  }
}

.feedback__image {
  position: absolute;
  top: 0;
  z-index: -1;
  min-height: 803px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: #316dc2;

  & img {
    object-fit: cover;
    min-height: 100%;
    height: 100%;
    display: flex;
    border-radius: 16px;
  }
}

@media (max-width: $tablet-width) {
  .feedback__container {
    max-width: 100%;
    padding: 100px 30px 0;
    margin: 0;
    min-height: 780px;
  }

  .feedback__form-container {
    max-width: 442px;
    padding: 62px 45px 57px;
    min-height: 780px;

    & h2 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 25px;
    }

    & p {
      line-height: 20px;
      margin-bottom: 32px;
    }

    & label {
      line-height: 20px;
      gap: 4px;
    }
  }

  .feedback .custom-select {
    gap: 4px;
    margin-bottom: 4px;
  }

  .feedback__image {
    min-height: 780px;
  }

  .form .feedback__input {
    gap: 6px;
    width: 100%;
    margin-bottom: 22px;

    & .form__select-button {
      height: 50px;
      width: 100%;
      max-width: 100%;
      padding-right: 20px;
    }
  }

  .feedback__button {
    &::after {
      top: 3px;
    }

    & svg {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback__container {
    padding: 65px 0 0;
    min-height: 753px;
  }

  .feedback__form form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input {
      min-height: 50px;
    }
  }

  .feedback__form-container {
    max-width: 100%;
    padding: 52px 15px 50px;
    min-height: 753px;

    & h2 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.5px;
      margin-bottom: 16px;
    }

    & p {
      font-size: 14px;
      margin-bottom: 25px;
    }

    & label {
      font-size: 12px;
      line-height: 14px;
      gap: 12px;
    }
  }

  .feedback__message textarea {
    min-height: 94px;
  }

  .form .feedback__input {
    gap: 12px;
    width: 100%;
    margin-bottom: 0;

    & .form__select-label {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: -0.4px;
    }

    & .form__select-button {
      height: 50px;
      width: 100%;
      max-width: 100%;
      padding-right: 20px;
    }
  }

  .feedback .custom-select {
    margin-bottom: 2px;
  }

  .feedback__check {
    margin-bottom: 12px;
  }

  .feedback__check label {
    margin-bottom: 0;
  }

  .form__select-list {
    max-height: 150px;
  }

  .feedback__image {
    display: none;
  }

  .feedback__button {
    padding-top: 5px;
    padding-right: 55px;
    margin: 0;
  }
}
