.form .form__select {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  margin-bottom: 18px;

  & label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(72, 72, 72, 0.8);
  }

  & .is-invalid {
    color: #ff5e66;
    font-size: 12px;
    line-height: 12px;
  }

  & .is-valid {
    color: #11df07;
    font-size: 12px;
    line-height: 12px;
  }

  & input,
  .form__select-button {
    border: 1px solid rgba(72, 72, 72, 0.3);
    border-radius: 8px;
    min-height: 50px;
    padding: 12px 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    &:not(:disabled):hover {
      @include hover;
      border-color: rgba(72, 72, 72, 1);
    }

    &:not(:disabled):focus {
      @include focus;
      outline: none;
      border-color: rgba(72, 72, 72, 1);
    }

    &:not(:disabled):active {
      @include active;
      border-color: rgba(72, 72, 72, 1);
    }

    &:disabled {
      @include hover;
      border-color: rgba(169, 175, 183, 0.5);
      background-color: rgba(169, 175, 183, 0.2);
    }

    &:not(:placeholder-shown) {
      border-color: #ff5e66;
      background-color: rgba(255, 94, 102, 0.2);
    }
  }
}

.form__select-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.form__select-label {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: rgba(72, 72, 72, 0.8);
  letter-spacing: -0.5px;
}

.form__select-error {
  bottom: -21px;
  font-size: 14px;
  line-height: 16px;
}

.form .form__select-icon {
  width: 15px;
  height: 7px;
  background-color: #484848;
}

.form__select-list {
  bottom: -4px;
  border: 1px solid #484848;
  border-radius: 8px;
  min-height: fit-content;
  max-height: 194px;
  z-index: 2;
}

.form__select-item {
  padding: 17px 20px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  &:hover:not(:focus-visible) {
    @include hover;
    color: #316dc2;
    background-color: transparent;
  }

  &:focus:not(:focus-visible) {
    @include focus;
    color: $color-default-white;
    background-color: #316dc2;
  }

  &:active:not(:focus-visible) {
    @include active;
    color: $color-default-white;
    background-color: #316dc2;
  }
}

.form__check {
  & label {
    display: flex;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    min-height: 20px;
    margin-bottom: 30px;

    & input[type="checkbox"]:checked + .form__sort::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-image: url("../img/svg/check.svg");
      background-repeat: no-repeat;
      top: 6px;
      left: 5px;
    }
  }

  & label:hover > .form__sort {
    background-color: transparent;
    outline: 1px solid rgba(49, 109, 194, 1);
  }

  & input {
    display: none;
  }
}

.form__name {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(72, 72, 72, 0.9);
  letter-spacing: -0.4px;
  align-self: center;
}

.form__check input[type="checkbox"]:disabled + .form__sort {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 1px solid rgba(255, 255, 255, 1);
}

.form__check input[type="checkbox"]:disabled + .form__check-error {
  display: none;
}

.form__check input[type="checkbox"]:checked:disabled + .form__sort {
  background-color: #a9afb7;
  outline: 1px solid #a9afb7;
  cursor: default;
}

.form__check input[type="checkbox"]:checked:disabled + .form__sort::before {
  background-image: url("../img/svg/check.svg");
}

.form__check input[type="checkbox"]:checked + .form__sort {
  background-color: #316dc2;
}

.form__check:hover input[type="checkbox"]:not(:disabled):checked + .form__sort,
.form__check:focus input[type="checkbox"]:not(:disabled):checked + .form__sort {
  background-color: $color-default-white;
  outline: 1px solid #316dc2;
}

.form__check:hover input[type="checkbox"]:not(:disabled):checked + .form__sort::before,
.form__check:focus input[type="checkbox"]:not(:disabled):checked + .form__sort::before {
  background-image: url("../img/svg/check-blue.svg");
}

.form__sort {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: 1px solid rgb(49, 109, 194, 0.7);
  top: 1px;
  left: 0;
  border-radius: 2px;

  &:not(:disabled):focus {
    background-color: transparent;
    outline: 1px solid rgba(49, 109, 194, 1);
  }
}

.form__check-error {
  color: #ff5e66;
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}

.form__button {
  width: 194px;
  max-width: 194px;
  margin: 0 auto;
  letter-spacing: -0.5px;
  padding: 10px 75px 10px 30px;
}

@media (max-width: $tablet-width) {
  .form__input {
    width: 100%;
    margin-bottom: 18px;

    & label {
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 14px;
      line-height: 18px;
      color: rgba(72, 72, 72, 0.8);
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    width: 100%;

    & form {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
  }

  .modal__close-btn svg {
    width: 12px;
    height: 12px;
  }

  .form__input {
    margin-bottom: 0;

    & label {
      gap: 9px;
      line-height: 14px;
    }

    & input {
      min-height: 44px;
    }
  }

  .form__check {
    & label {
      margin-bottom: 12px;
    }
  }

  .form .form__select {
    margin-bottom: 1px;
  }

  .form__select-label {
    margin-bottom: 0;
    line-height: 14px;
    letter-spacing: -0.5px;
  }

  .form__input .form__select-button {
    height: 44px;
    min-height: 44px;
    padding: 10px 20px;
  }

  .form__select-error {
    bottom: -16px;
    line-height: 14px;
  }

  .form__select-list {
    max-height: 105px;
  }

  .form__name {
    line-height: 14px;
    padding-top: 1px;
  }

  .form__sort {
    top: 50%;
    transform: translate(0, -50%);
  }

  .form__button {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 60px 0 75px;
  }
}
