.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header__container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header__logo {
  width: 52px;
  height: 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-default-white;
}

.header__button {
  position: relative;
  width: 134px;
  min-height: 54px;
  border-radius: 30px;
  border-color: #316dc2;
  background-color: $color-default-white;
  padding: 0 70px 0 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #316dc2;
  text-transform: uppercase;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    display: flex;
    width: 46px;
    height: 46px;
    top: 3px;
    right: 4px;
    background-color: #316dc2;
    border-radius: 50%;
    background-image: url("../../img/svg/burger.svg");
    background-repeat: no-repeat;
    background-size: 20px 10px;
    background-position: center;
  }

  & span {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .header__container {
    max-width: 100%;
    margin: 0;
    padding-top: 31px;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    padding-top: 20px;
  }
}
